name: CI pipeline

on:
  push:
    branches: [main]

jobs:
  Test-and-build:
    runs-on: windows-latest

    steps:
      - name: Repositorylarni yuklash
        uses: actions/checkout@v4

      - name: node_modules'ni yuklab olish
        run: npm install

      - name: Test buyrug'ini ishga tushurish
        run: npm run test

      - name: Build qilish
        run: npm run build
